footer ul {
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
	margin: 5px;
}
footer {
    border-top: 1px solid #d5d5d5;
}
header {
	border-bottom: 1px solid #d5d5d5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header[class="ar"] {
	flex-direction: row-reverse;
}
h1, time, article {
	margin: 5px;
}
[class="post-meta ar"] {
	display: block;
}
