@import "github.css";

:root {
    --highlight-color: rgba(255,255,125,0.5);
    --section-border: 1px solid #d5d5d5;
}

#sidebar {
    position: absolute;
    width: 100px;
}

#logo {
    margin: 0.5rem;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

body {
    background-color: #FFF8E7;
    font-family: sans-serif;
}

#nav-links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    font-weight: bold;
    padding: 0;
}

#nav-links ul li {
    margin: 0.5rem;
}

#nav-links a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #nav-links ul {
        flex-direction: column;
    }
    #posts > li {
        font-size: 0.8em;
    }
}

.post-header {
    border-bottom: var(--section-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

h1, time, article {
    margin: 5px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

figcaption {
    text-align: center;
    padding: 3px;
    font-style: italic;
}

.footnotes {
    border-top: var(--section-border);
    font-size: smaller;
}

[role="doc-endnote"] {
    transition: background-color 0.5s ease-in;
}

[role="doc-endnote"]:target {
    background-color: var(--highlight-color);
}

a {
    overflow-wrap: break-word;
}

#posts {
    padding-right: 0.5em;
}

#posts > li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #383838;
    padding-bottom: 0.5rem;
}

#posts > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
    font-weight: bold;
    text-decoration: none;
}

.quote {
    font: italic 22px / 1.4em sans-serif;
    padding: 5px 10px 5px 20px;
    margin: 5px 5px 5px 15px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgb(221, 221, 221) 4px 4px;
}

main, footer {
    margin: 0px 105px 0 15px;
}

body {
    width: 1120px;
    margin: 0 auto;
}

@media screen and (max-width: 1105px) {
    body {
		width: auto;
	}
}

iframe {
    width: 100%;
    height: 800px;
}

.highlighter-rouge, .highlight {
    direction: ltr;
    text-align: left;
    unicode-bidi: isolate;
}

.highlight {
    background-color: #FEFAC1;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid black;
}

.rouge-table {
    width: 100%;
}

.rouge-table td, rouge-table th {
    border: unset;
}

.highlight > pre {
    margin: 0px;
}

.post li {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#post-description {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#toc {
    border: 2px dashed grey;
    background-color: #FFF8E3;
}

#tags {
    margin-top: 5px;
    padding-right: 5px;
}

#tags > a {
    margin-left: 0.5em;
}

footer {
    border-top: var(--section-border);
}
