name: Abd NH
title: مدونة على منحنى النسيان
permalink: /:categories/:title
url: https://abdnh.github.io
markdown: kramdown
encoding: utf-8
safe: true

plugins:
  - jekyll-redirect-from

whitelist:
  - jekyll-redirect-from
