<!DOCTYPE html>
<html lang="ar" dir="rtl">

{% capture header %}
{{ layout.label }}: {{ site.data.translations[page.title] | default: page.title }}
{% endcapture %}

{% capture title %}
{{ header }} - {{ site.title }}
{% endcapture %}

{% include_cached  header.html title=title math=false %}

<body>
    {% include_cached  sidebar.html %}
    <main>
        <header class="post-header">
            <h1>{{ header }}</h1>
        </header>
        <ul id="posts">
            {% for post in page.posts %}
            <li><time datetime="{{ post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%Y-%m-%d" }}</time> » <a
                    href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </main>
    {% include_cached  footer.html %}
</body>

</html>
