<!DOCTYPE html>
<html lang="{% if page.layout == "post" or page.layout == "default" %}en{% elsif page.layout == "ar-post" %}ar{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="alternate" type="application/atom+xml" href="/feed/" title="Atom Feed">
        <link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACwAAAAAAQABAAACASgAOw==">
    </head>
    <body>
        <main>
            {{ content }}
        </main>
        <footer>
            <ul>
                <li><a id="home" href="/">Blog</a></li>
                <li><a id="about" href="/about">About</a></li>
                <li><a id="feed" rel="alternate" type="application/atom+xml" href="/feed">Feed</a></li>
                <li><a id="github" rel="author" href="https://github.com/abdnh">github.com/abdnh</a></li>
                <li><a id="source" href="https://github.com/abdnh/abdnh.github.io">Source</a></li>
            </ul>
        </footer>
        <div id="no-js-warn" style="color: red;">Language switching requires JavaScript</div>
        <select name="lang" id="lang-select" disabled>
            <option id="en">English</option>
            <option id="ar">العربية</option>
        </select>
        <script>
            const home = document.getElementById('home');
            const about = document.getElementById('about');
            const feed = document.getElementById('feed');
            const source = document.getElementById('source');
            const langSelector = document.getElementById('lang-select');
            const postList = document.getElementById('posts');
            const footer = document.getElementsByTagName('footer')[0];
            document.getElementById('no-js-warn').style.display = 'none';
            langSelector.disabled = false;

            function switchToAr() {
                home.textContent = 'مدونة';
                about.textContent = 'حول';
                feed.textContent = 'موجز ويب';
                source.textContent = 'مصدر';
                localStorage.setItem('lang', 'ar');
                if(postList) postList.dir = 'rtl';
                footer.dir = 'rtl';
            }
            function switchToEn() {
                home.textContent = 'Blog';
                about.textContent = 'About';
                feed.textContent = 'Feed';
                source.textContent = 'Source';
                localStorage.setItem('lang', 'en');
                if(postList) postList.dir = 'ltr';
                footer.dir = 'ltr';
            }
            function onSelectChange() {
               let val = langSelector.selectedOptions[0].id;
               if (val === 'en') {
                   switchToEn();
               }
               else {
                   switchToAr();
               }
            }
            function selectLang(lang) {
                let opt = langSelector.querySelector('#' + lang);
                opt.selected = true;
                onSelectChange();
            }

            langSelector.addEventListener('change', onSelectChange);

            let storedLang = localStorage.getItem('lang');
            if (storedLang) {
                selectLang(storedLang);
            }
            else if (navigator.language.startsWith('ar')) {
                selectLang('ar');
            }
            else {
                selectLang('en');
            }

        </script>
    </body>
</html>
