---
layout: default
---

<div class="post">
	<header class="post-header">
		{% if page.categories contains "books" %}
		<h1>كتاب: {{ page.title }}</h1>
		{% else %}
		<h1>{{ page.title }}</h1>
		{% endif %}
		<div>
			<time datetime="{{ page.date | date: "%Y-%m-%d"}}" title="تاريخ الإنشاء">{{ page.date | date: "%d/%m/%Y"}}</time>
			{% if page.last_modified_at != page.date %}
			|
			<a href="https://github.com/abdnh/abdnh.github.io/commits/master/{{ page.path }}"><time datetime="{{ page.last_modified_at | date: "%Y-%m-%d"}}" title="آخر تعديل">{{ page.last_modified_at | date: "%d/%m/%Y"}}</time></a>
			{% endif %}
		</div>
	</header>
	<article>
		{% if page.description %}
		<div id="post-description">{{ page.description }}</div>
		{% endif %}
		{{ content | toc }}
	</article>
</div>
