---
layout: default
---

<div class="post">
	<header class="post-header">
		{% if page.categories contains "books" %}
		<h1>كتاب: {{ page.title }}</h1>
		{% else %}
		<h1>{{ page.title }}</h1>
		{% endif %}
		<div>
			<div>
				<time datetime="{{ page.date | date: "%Y-%m-%d"}}" title="تاريخ الإنشاء">{{ page.date | date: "%Y-%m-%d"}}</time>
				{% if page.last_modified_at != page.date %}
				|
				<a href="{{ site.repo_url }}/commits/master/{{ page.path }}"><time datetime="{{ page.last_modified_at | date: "%Y-%m-%d"}}" title="آخر تعديل">{{ page.last_modified_at | date: "%Y-%m-%d"}}</time></a>
				{% endif %}
			</div>
			<div id="tags">
				{% for tag in page.tags %}
				<a href="/tag/{{ tag }}">{{ site.data.translations[tag] | default: tag }}</a>
				{% endfor %}
			</div>
		</div>
	</header>
	<article>
		{% if page.description %}
		<div id="post-description">{{ page.description }}</div>
		{% endif %}
		{{ content | toc }}
	</article>
</div>
